<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>가인지피플</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/main.css">

    <!-- og tag-->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="gaingepeople.com/" />
    <meta property="og:description" content="가인지피플입니다." />
    <meta property="og:title" content="가인지피플"/>
    <meta property="og:image" content="https://gaingepeople.com/og_title.png"/>
    <!-- og tag-->

    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrap">
        {% block header %}
        {% endblock %}

        {% block content %}
        {% endblock%}

        {% block footer %}
        {% endblock %}

        {% block script %}
        {% endblock %}
    </div>
</body>
</html>