{% extends 'default.html' %}

{% block footer %}
<style>
    .information_div
    {
        float:left;
    }
</style>
<div class="footer">
    <div class="footer_content">
        <p class="Do_footer" style="">Do everything in love</p>
        <div class="company_information">
                <span class="information_detail">
                    <div class="information_div">
                        <span class="footer_title">회사명</span>
                        <span class="footer_detail">(주)가인지캠퍼스</span>
                        <span class="footer_title">대표자명</span>
                        <span class="footer_detail">김경민</span>
                    </div>
                    <div class="information_div">
                        <span class="footer_title">주소</span>
                        <span class="footer_detail">04085 서울특별시 마포구 토정로 16(합정동), 2층</span>
                    </div>
                    <div class="information_div">
                        <span class="footer_title">대표번호</span>
                        <span class="footer_detail">02) 337-0691</span>
                    </div>
                    <div class="information_div">
                        <span class="footer_title">이메일</span>
                        <span class="footer_detail">gainge.cs@gmail.com</span>
                    </div>
                    <div class="information_div">
                        <span class="footer_title">사업자등록번호</span>
                        <span class="footer_detail">639-88-00543</span>
                    </div>
                    <div class="information_div">
                        <span class="footer_title">통신판매업 사업번호</span>
                        <span class="footer_detail">제 2017-서울마포-1383호</span>
                    </div>
                </span>
                <div style="width:fit-content;margin-top:15px;" class="footer_tail">
                    <span class="footer_detail" style="font-size:14px;">가인지캠퍼스의 모든 콘텐츠는 저작권의 보호를 받고 있습니다.</span>
                </div>
        </div>
        <span>
            <img src="/footer_logo.svg" style="float:right;position:relative;bottom:25px;">
        </span>
    </div>
</div>
{% endblock %}