{% extends 'header.html' %}
{% extends 'footer.html' %}

{% block content %}
<div class="main">
    <div class="main_title">
        <p style="color:#909090;margin-bottom:20px" class="font_23 font_bold main_notice">채용 공고</p>
        <p>
            <span>
                <h2 style="" class="font_40 font_bold text_maincolor main_ready">지금 당신을&nbsp;</h2>
                <h2 style="" class="font_40 font_bold text_maincolor main_ready">기다리고 있어요!</h2>
            </span>
        {% if group %}
        <div class="main_selectbox selected" id="main_select"> 
            <span>{{group}}</span>
            {% else %}
            <div class="main_selectbox" id="main_select"> 
            <span>전체</span>
            {% endif %}
            <div class="main_subselectbox" id="main_subselectbox" style="display:none;">
                <span class="main_option" href="/" style="color:#9D9D9D">전체</span>
                <span class="main_option" data-set="마케터">마케터</span>
                <span class="main_option" data-set="영업">영업</span>
                <span class="main_option" data-set="개발">개발</span>
                <span class="main_option" data-set="디자인">디자인</span>
                <span class="main_option" data-set="인사">인사</span>
                <span class="main_option" data-set="사무">사무</span>
                <span class="main_option" data-set="R&D">R&D</span>
                <span class="main_option" data-set="기타">기타</span>
            </div>
        </div>

        {# <select id="job_title" class="main_selectbox">
                <option value="">분류</option>
                <option value="마케터">마케터</option>
                <option value="영업">영업</option>
                <option value="개발">개발</option>
                <option value="디자인">디자인</option>
                <option value="인사">인사</option>
                <option value="사무">사무</option>
                <option value="R&D">R&D</option>
                <option value="기타">기타</option>
        </select> #}
        </p>
    </div>
    <div class="main_content" style="max-height:1490px;">
        {% if notice_list == '' %}
        <div class="non_notice">
            공고 정보가 없습니다.
        </div>
        {% endif %}
        {% for Notice in notice_list %}
        <a href="notice/{{Notice.number}}">
        <div class="content_notice">
            <div class="content_image">
                <img src="{{Notice.notice_image}}" class="notice_main_image" style="">
            </div>
            <div class="content_detail">
                <span style="margin-bottom:7px;display:block;" class="notice_company_name font_12 text_maincolor font_medium">
                    <span>{{Notice.company_name}}</span>
                    <span style="background-color:#F4F4FF;margin-left:6px;" class="notice_job_group text_blue font_medium font_12">{{Notice.job_group}}</span>
                </span>
                <div class="mobile_notice_title font_bold text_maincolor font_15">
                    {{Notice.notice_title}}
                </div>
                {% if Notice.is_continue == 1 %}
                <img src="ing.svg" class="notice_status_img" >
                {% else %}
                <img src="end.svg" class="notice_status_img">
                {% endif %}
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
    <div class="plus_notice" style="display:none">
        <img src="/plus_notice.svg" id="plus_img">
    </div>
</div>
<div class="layer_popup" id="mo_select_box" style="display:none">
    <div class="mobile_select" id="mobile_select">
        <div class="mobile_filter">
            <div class="mo_select_title">
                <span>채용 필터</span>
                <span style="float:right">
                    <img src="/close_detail.svg" id="mobile_select_close" style="width:1.7rem;">
                </span>
            </div>
            <div class="mo_select_content">
                {% if group == undefined %}
                <div class="mo_select_all font_26 font_medium option_selected" id="main_select_all" href="/">
                    전체
                </div>
                {% else %}
                <div class="mo_select_all font_26 font_medium" id="main_select_all" href="/">
                    전체
                </div>
                {% endif %}
                <div class="mo_select_detail font_26">
                <span>
                {% for Group in group_list %}
                    {% if Group == group %}
                    <span class="main_option option_selected" data-set="{{Group}}">{{Group}}</span>
                    {% else %}
                    <span class="main_option" data-set="{{Group}}">{{Group}}</span>
                    {% endif %}
                {% endfor %}
                </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //모바일, PC 레이아웃 변경
    function resizeWidthMain()
    {
        if(document.body.offsetWidth > 750)
        {
            document.getElementById('mo_select_box').style.display = 'none';
        }
        else
        {
            const temp = document.getElementsByClassName('main_content')[0];
            document.getElementsByClassName('main_content')[0].style.maxHeight = '3430px';
        }
    }

    resizeWidthMain();
    window.addEventListener('resize', function() {
        resizeWidthMain();
    })
    document.getElementById('main_select').addEventListener('click', function() {
        if(document.body.offsetWidth > 750)
        {
            var is_show = document.getElementById('main_subselectbox').style.display;
            if( is_show == "none")
            {
                document.getElementById('main_subselectbox').style.display = 'block'
                document.getElementById('main_select').classList.add('main_selected');
            }
            else
            {
                document.getElementById('main_subselectbox').style.display = 'none';
                document.getElementById('main_select').classList.remove('main_selected');
            }
        }
        else
        {
            document.getElementById('mo_select_box').style.display = 'block';
        }
    })

    document.getElementById('main_select_all').addEventListener('click', function(){
        location.href = '/';
    })

    document.getElementById('mo_select_box').addEventListener('click', function(event) {
        document.getElementById('mo_select_box').style.display = 'none';
    })

    var temp = document.getElementsByClassName('main_option');
    for(options of temp)
    {
        options.addEventListener('click', function(e) {
            if(e.target.dataset.set != undefined )
            {
                location.href="/"+e.target.dataset.set;
            }
            else
            {
                location.href="/";
            }
            
        })
    }

    var content_height = document.getElementsByClassName('main_content')[0];
    var viewport_height = 1495;
    if(document.body.offsetWidth <= 750)
    {
        viewport_height = 3435;
    }
    if(content_height.offsetHeight >= viewport_height)
    {
        document.getElementsByClassName('plus_notice')[0].style.display = '';
    }

    document.getElementById('plus_img').addEventListener('click', function() {
        const temp = document.getElementsByClassName('main_content')[0];

        var max_height = parseInt(temp.style.maxHeight.replace(/[^0-9]/g,'')) + 745;
        if(document.body.offsetWidth <= 750)
        {
            max_height = parseInt(temp.style.maxHeight.replace(/[^0-9]/g,'')) + 865;
        }
        temp.style.maxHeight = max_height + "px";
        if(temp.scrollHeight-30 <= max_height)
        {
            document.getElementsByClassName('plus_notice')[0].style.display = 'none';
        }
    })
</script>
{% endblock %}