{% extends 'header.html' %}
{% extends 'footer.html' %}

{% block content %}
<div class="mo_complete_apply_layer">
    <div class="mo_complete_apply_content">
        <div class="font_bold mo_complete_apply_title">
            지원이<br />
            완료되었습니다.        
        </div>
        <div class="mo_complete_apply_faq">
            <span class="mo_complete_apply_faq_title">채용문의</span>
            <span class="mo_complete_apply_faq_detail">문성훈 팀장(010-9139-5223)</span>
        </div>
        <div class="mo_complete_apply_ok">
            <a href="/">
                <img src="/ok_apply.svg">
            </a>
        </div>
    </div>
</div>
{% endblock %}