{% extends 'header.html' %}
{% extends 'footer.html' %}

{% block content %}
<div class="notice">
    <div>
    <div class="mo_notice_image" id="mo_notice_image" style="display:none">
        <img src="/{{notice.notice_image}}" class="notice_thumb_image">
    </div>
    <div class="notice_detail">
        <span class="notice_detail_span">
            <span style="color:#A0A4B4;margin-right:10px;">{{notice.company_name}}</span>
            <span style="color:#000F9F;margin-right:10px;">{{notice.job_group}}</span>
            <span style="vertical-align:middle">
                {% if notice.is_continue == 1 %}
                <img src="/notice_detail_ing.svg"></span>
                {% else %}
                <img src="/notice_detail_end.svg"></span>
                {% endif %}
            </span>
        </span>
        <div class="notice_title">
            <p class="font_bold font_32 notice_title_detail">
                {{notice.notice_title}}
            </p>
        </div>
        <div class="notice_image" id="notice_image">
            <img src="/{{notice.notice_image}}" class="notice_thumb_image">
        </div>
        <div class="notice_info">
            <div class="notice_info_title notice_subtitle">
                <p>회사 소개</p>
            </div>
            <div class="notice_info_content" id="notice_info">
                {{notice.company_info}}
            </div>
            <div class="mo_online_channel" id="mo_online_channel">
                {% if notice.company_channel != '' %}
                <a href="{{notice.company_channel}}" target="_blank">
                    <img src="/mo_online_channel.svg">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="notice_position">
            <div class="notice_position_title notice_subtitle">
                <p class="font_bold font_28 text_maincolor position_info">포지션 정보</p>
            </div>
            <!-- 모바일 포지션 정보 -->
            <div class="mo_position_info" id="mo_position">
                <ul>
                    <li class="mo_summary font_bold font_26">요약</li>
                    <li>
                        <ul class="mo_summary_detail">
                            <li class="font_bold font_24" style="margin-bottom:16px">직무 및 직급</li>
                            <li class="font_24" style="margin-bottom:40px">{{notice.job_duty}}</li>
                        </ul>
                        <ul class="mo_summary_detail">
                            <li class="font_bold font_24" style="margin-bottom:16px">고용형태</li>
                            <li class="font_24" style="margin-bottom:40px">{{notice.employ_type}}</li>
                        </ul>
                        <ul class="mo_summary_detail">
                            <li class="font_bold font_24" style="margin-bottom:16px">경력</li>
                            <li class="font_24" style="margin-bottom:40px">{{notice.career}}</li>
                        </ul>
                        <ul class="mo_summary_detail">
                            <li class="font_bold font_24" style="margin-bottom:16px">회사규모 및 매출</li>
                            <li class="font_24" style="margin-bottom:40px">{{notice.company_size}}</li>
                        </ul>
                        <ul class="mo_summary_detail">
                            <li class="font_bold font_24" style="margin-bottom:16px">업종</li>
                            <li class="font_24" style="margin-bottom:40px">{{notice.job_sector}}</li>
                        </ul>
                        <ul class="mo_summary_detail">
                            <li class="font_bold font_24" style="margin-bottom:16px">채용 기간</li>
                            <li class="font_24" style="margin-bottom:40px" id="mo_notice_date">{{notice.notice_date}}</li>
                        </ul>
                         <ul class="mo_summary_detail">
                            <li class="font_bold font_24" style="margin-bottom:16px">근무위치</li>
                            <li class="font_24" style="margin-bottom:40px">{{notice.company_location}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- 포지션 소개 -->
            <div class="mo_position_intro">
                <div class="notice_position_title notice_subtitle">
                    <p class="font_bold font_26 text_maincolor position_intro_title">포지션 소개</p>
                    <p id="mo_position_intro" class="position_intro_detail" style="margin-bottom:70px">{{notice.position_info}}</p>
                </div>
            </div>
            <!-- 포지션 소개 -->

            <!-- 주요업무 -->
            <div class="mo_position_intro">
                <div class="notice_position_title notice_subtitle">
                    <p class="font_bold font_26 text_maincolor position_intro_title">주요 업무</p>
                    <ul class="mo_position_ul">
                        {% for Main in main_work %}
                        <li class="font_24 font_regular">{{Main}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- 주요업무 -->

            <!-- 자격요건 -->
            <div class="mo_position_intro">
                <div class="notice_position_title notice_subtitle">
                    <p class="font_bold font_26 text_maincolor position_intro_title">자격요건</p>
                    <ul class="mo_position_ul">
                        {% for Qualify in job_qualify %}
                        <li class="font_24 font_regular">{{Qualify}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- 자격요건 -->

            <!-- 우대사항 -->
            <div class="mo_position_intro">
                <div class="notice_position_title notice_subtitle">
                    <p class="font_bold font_26 text_maincolor position_intro_title">우대사항</p>
                    <ul class="mo_position_ul">
                        {% for Prefer in job_prefer %}
                        <li class="font_24 font_regular">{{Prefer}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- 우대사항 -->

            <!-- 근무조건 및 복지 -->
            <div class="mo_position_intro">
                <div class="notice_position_title notice_subtitle">
                    <p class="font_bold font_26 text_maincolor position_intro_title">근무조건 및 복지</p>
                    <ul class="mo_position_ul">
                        {% for Welfare in job_welfare %}
                        <li class="font_24 font_regular">{{Welfare}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- 근무조건 및 복지 -->

            <!-- 팀구성 및 커뮤니케이션 -->
            <div class="mo_position_intro">
                <div class="notice_position_title notice_subtitle">
                    <p class="font_bold font_26 text_maincolor position_intro_title">팀 구성 및 커뮤니케이션</p>
                    <ul class="mo_position_ul">
                        {% for Communication in company_communication %}
                        <li class="font_24 font_regular">{{Communication}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- 팀구성 및 커뮤니케이션 -->

            <!-- 조직문화 -->
            <div class="mo_position_intro">
                <div class="notice_position_title notice_subtitle">
                    <p class="font_bold font_26 text_maincolor position_intro_title">조직문화</p>
                    <ul class="mo_position_ul">
                        {% for Culture in company_culture %}
                        <li class="font_24 font_regular">{{Culture}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- 조직문화 -->

            <!-- 인재상 -->
            <div class="mo_position_intro">
                <div class="notice_position_title notice_subtitle">
                    <p class="font_bold font_26 text_maincolor position_intro_title">인재상</p>
                    <ul class="mo_position_ul">
                        {% for People in company_people %}
                        <li class="font_24 font_regular">{{People}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- 인재상 -->

             <!-- 향후 커리어 -->
            <div class="mo_position_intro">
                <div class="notice_position_title notice_subtitle" style="border-bottom:0">
                    <p class="font_bold font_26 text_maincolor position_intro_title">향후커리어</p>
                    <ul class="mo_position_ul">
                        {% for Next in next_career %}
                        <li class="font_24 font_regular">{{Next}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- 향후 커리어 -->
            
            </div>
            <!-- PC 포지션 정보 -->
            <div class="notice_position_div" id="pc_position">
                <table colspacing="0" colpadding="0" class="notice_position_detail">
                    <tr>
                        <th>요약</th>
                        <td>
                            <table colspacing="0" colpadding="0" class="notice_position_subdetail">
                                <tr>
                                    <th>직무 및 직급</th>
                                    <td>{{notice.job_duty}}</td>
                                </tr>
                                <tr>
                                    <th>고용형태</th>
                                    <td>{{notice.employ_type}}</td>
                                </tr>
                                <tr>
                                    <th>경력</th>
                                    <td>{{notice.career}}</td>
                                </tr>
                                <tr>
                                    <th>회사규모 및 매출</td>
                                    <td>{{notice.company_size}}</td>
                                </tr>
                                <tr>
                                    <th>업종</th>
                                    <td>{{notice.job_sector}}</td>
                                </tr>
                                <tr>
                                    <th>채용기간</th>
                                    <td id="notice_date">{{notice.notice_date}}</td>
                                </tr>
                                <tr style="border-bottom:2px solid #D9D9D9">
                                    <th>근무위치</th>
                                    <td>{{notice.company_location}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th>포지션 소개</th>
                        <td id="position_info">{{notice.position_info}}</td>
                    </tr>
                    <tr>
                        <th>주요 업무</th>
                        <td>
                            <table class="notice_position_list">
                                {% for Main in main_work %}
                                <tr>
                                    <td>{{Main}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th>자격 요건</th>
                        <td>
                            <table class="notice_position_list">
                            {% for Qualify in job_qualify %}
                            <tr>
                                <td>{{Qualify}}</td>
                            </tr>
                            {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th>우대사항</th>
                        <td>
                            <table class="notice_position_list">
                            {% for Prefer in job_prefer %}
                            <tr>
                                <td>{{Prefer}}</td>
                            </tr>
                            {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            근무조건<br />및 복지
                        </th>
                        <td>
                            <table class="notice_position_list">
                            {% for Welfare in job_welfare %}
                            <tr>
                                <td>{{Welfare}}</td>
                            </tr>
                            {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th>팀구성 & <br />커뮤니케이션</th>
                        <td>
                            <table class="notice_position_list">
                            {% for Communication in company_communication %}
                            <tr>
                                <td>{{Communication}}</td>
                            </tr>
                            {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th>조직문화</th>
                        <td>
                            <table class="notice_position_list">
                            {% for Culture in company_culture %}
                            <tr>
                                <td>{{Culture}}</td>
                            </tr>
                            {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th>인재상</th>
                        <td>
                            <table class="notice_position_list">
                            {% for People in company_people %}
                            <tr>
                                <td>{{People}}</td>
                            </tr>
                            {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr style="border-bottom:0; padding-bottom:70px;">
                        <th>향후 커리어</th>
                        <td>
                            <table class="notice_position_list">
                            {% for Next in next_career %}
                            <tr>
                                <td>{{Next}}</td>
                            </tr>
                            {% endfor %}
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- PC 포지션 정보 -->

        <!-- 모바일 채용프로세스 -->
        <div class="mo_notice_process">
            <div class="notice_process_title notice_subtitle">
                <p class="font_bold font_28">채용프로세스</p>
            </div>
            <div class="mo_notice_process_detail">
            <ul>
                <li>
                    <table>
                    {% for Process in notice_process %}
                        <tr>
                            <th style="width:58px">
                                <div class="mo_process_index">{{loop.index}}</div>
                            </th>
                            <td>
                                <span class="font_24 font_regular">{{Process}}</span>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </li>
            </ul>
            </div>
        </div>
        <!-- 모바일 채용프로세스 -->

        <!-- PC 채용프로세스 -->
        <div class="notice_process">
            <div class="notice_process_title notice_subtitle">
                <p class="font_bold font_28">채용프로세스</p>
            </div>
            <div class="process_detail">
                {% for Process in notice_process %}
                <div class="process_stage">
                    <span>{{Process}}</span>
                </div>
                {% if loop.index != notice_process.length %}
                <img src="/arrow_right.svg" style="margin:0 16px;">
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- PC 채용프로세스 -->

        {% if notice.main_video != "" %}
        <div class="company_video">
            <div class="company_video_title notice_subtitle">
                <p class="font_bold font_28">회사 영상</p>
            </div>
            <div class="company_video_detail" id="company_video_detail">
                <iframe src="{{notice.main_video}}" class="company_main_video"></iframe>
            </div>
        </div>
        {% endif %}
        <div class="company_interview">
            <div class="company_interview_title notice_subtitle">
                <p class="font_bold font_28">인터뷰</p>
            </div>
            <div class="company_interview_detail" id="company_interview">
                {{notice.notice_interview}}
            </div>
        </div>
        <div class="submit_notice">
            <p class="font_bold font_28 wait_people" style="margin-bottom:40px">지금 당신을 기다리고 있어요!</p>
            {% if notice.is_continue == 1 %}
            <a href="/apply/{{notice.number}}">
                <img src="/detail_ing_big.svg" style="margin-bottom:26px;">
            </a>
            {% else %}
            <img src="/detail_end_big.svg" class="apply_button" style="margin-bottom:26px;">
            {% endif %}
            <p class="font_18 font_medium apply_call">
                <span style="color:#A0A4B4;margin-right:20px">채용문의</span>
                <span style="color:#566371;">문성훈 팀장(010-9139-5223)</span>
            </p>
        </div>
    </div>
    <div style="float:right;position:relative;width:370px;">
        <div class="notice_information" id="notice_information" style="position:relative;top:215px;">
        <div class="notice_information_detail" >
            <p class="font_bold font_23" style="color:#1A1A1A;margin-bottom:15px;">{{notice.company_name}}</p>
            <div class="font_medium font_20" style="color: #000F9F;background:#F4F4FF;width:fit-content;margin-bottom:29px;">
                {{notice.job_group}}
            </div>
            <div class="font_medium font_18" style="height:115px">
                {{notice.notice_title}}
            </div>
        </div>
        <a href="{{notice.company_channel}}" target="_blank">
            <div class="online_channel">
                <img src="/online_channel.svg">
            </div>
        </a>
        {% if notice.is_continue == 1 %}
        <a href="/apply/{{notice.number}}" target="_blank">
            <div class="notice_apply">
                <img src="/company_apply.svg">
            </div>
        </a>
        {% else %}
        <div class="notice_apply">
            <img src="/apply_end.svg">
        </div>
        {% endif %}
        <div class="notice_Qna">
            <span class="font_medium font_13">
                <span style="color:#A0A4B4;margin-right:10px">채용문의</span>
                <span style="color:#566371">문성훈 팀장(010-9139-5223)</span>
            </span>
        </div>
        </div>
        </div>
    </div>
</div>
<div class="fix_apply" id="fix_apply">
    {% if notice.is_continue == 1 %}
    <a href="/apply/{{notice.number}}">
        <img src="/mo_fix_apply_ing.svg" style="margin:24px 0;">
    </a>
    {% else %}
        <img src="/mo_fix_apply_end.svg" style="margin:24px 0;">
    {% endif %}
</div>
<script>

    function resizeWindow() {
        if(document.body.offsetWidth > 750)
        {
            document.getElementById('notice_image').style.display = 'block';
            document.getElementById('mo_notice_image').style.display = 'none';
            document.getElementById('mo_online_channel').style.display = 'none';
            document.getElementById('mo_position').style.display = 'none';
            document.getElementById('pc_position').style.display = 'block';
            document.getElementsByClassName('notice_process')[0].style.display = 'block';
            document.getElementsByClassName('mo_notice_process')[0].style.display = 'none';
            document.getElementById('fix_apply').style.display = 'none';
        }
        else
        {
            document.getElementById('notice_image').style.display = 'none';
            document.getElementById('mo_notice_image').style.display = 'block';
            document.getElementById('mo_online_channel').style.display = 'block';
            document.getElementById('mo_position').style.display = 'block';
            document.getElementById('pc_position').style.display = 'none';
            document.getElementsByClassName('notice_process')[0].style.display = 'none';
            document.getElementsByClassName('mo_notice_process')[0].style.display = 'block';
            document.getElementById('fix_apply').style.display = 'block';
        }
    }
    resizeWindow();
    //모바일 썸네일 이미지 표출
    window.addEventListener('resize', function(){
        resizeWindow();
    })
    
    //HTML 에디터 변환
    var content = document.getElementById('notice_info');
    content.innerHTML = content.innerText;
    var content_position = document.getElementById('position_info');
    content_position.innerHTML = content_position.innerText;
    var content_interview = document.getElementById('company_interview');
    content_interview.innerHTML = content_interview.innerText;
    //모바일 포지션 소개
    var mo_position_intro = document.getElementById('mo_position_intro');
    mo_position_intro.innerHTML = mo_position_intro.innerText;

    //날짜 변경
    var date = '{{notice.notice_date}}';
    var date_time = new Date(date);
    
    var date_content = document.getElementById('notice_date');
    var mo_date_content = document.getElementById('mo_notice_date');
    date_content.innerHTML = date_time.getUTCFullYear() + '년 '+ (date_time.getMonth()+1) + '월 ' + date_time.getDate() + '일까지';
    mo_date_content.innerHTML = date_time.getUTCFullYear() + '년 '+ (date_time.getMonth()+1) + '월 ' + date_time.getDate() + '일까지';


    // div 고정하기
    
    window.addEventListener('scroll',function(){
        let scroll_location = document.documentElement.scrollTop;
        const information = document.getElementById('notice_information');
        const company_video_detail = document.getElementById('company_interview');
        const class_interview = document.getElementsByClassName('company_interview');
        if(scroll_location >= 370)
        {   
            information.classList.add('fixed_information');
            if(class_interview[0].offsetHeight + class_interview[0].offsetTop - screen.height + information.offsetHeight - 60 <= scroll_location)
            {
                information.classList.remove('fixed_information');
                information.style.position = 'absolute';
                information.style.top = class_interview[0].offsetHeight + class_interview[0].offsetTop - screen.height + information.offsetHeight - 60+ 'px';
                //information.style.left = '69%';
            }
            else
            {
                information.style.position = 'relative';
                information.style.top = '215px';
            }
        }
        else
        {
            information.classList.remove('fixed_information');
        }
    })
</script>
{% endblock %}