@font-face{
    font-family: 'gainge';
    src: url('./font/NotoSansCJKkr-Light.otf') format('truetype');
}

body{
    min-width:100%;
    min-height:100%;
    font-family: 'gainge';
}

body, div{
    margin:0;
    padding:0;
}

input::placeholder{
    color:#383838;
    font-weight:100;
}

.login_form{
    box-sizing:border-box;
    width:13%;
}

.wrap
{
    width:100%;
    height:100%;
}

.login_form{
    box-sizing:border-box;
    width:233px;
    margin:0 auto;
}

.login_page{
    margin:0 auto;
    text-align: center;
}

.login_logo{
    margin-top:4em;
}

.login_detail{
    padding:20px;
}

.login_label{
    margin-right:1em;
    float:left;
    margin-bottom:5px;
}

.login_textbox{
    padding:5px;
    width:100%;
}

.login_button{
    width:197px;
    margin-top:20px;
    background-color: #000f9f;
    color:#fff;
    border: 1px solid #000f9f;
    border-radius: 5px;
    padding:5px;
}

.admin_header{
    padding:10px;
    width:93%;
    margin:0 auto;
}

.admin_logo{
    width:250px;
}

.admin_logout{
    float:right;
    background-color:#000f9f;
    border: 1px solid #000f9f;
    border-radius: 5px;
    color:#fff;
    padding:5px;
    width:100px;
    height:30px;
    margin:10px;
}

.people_notice
{
    width:75%;
    margin:0 auto;
}

.notice_option
{
    padding:5px;
    width:100px;
}

.notice_title
{
    padding-bottom:20px;
}

.notice_detail
{
    border:1px solid #000f9f;
    padding:15px;
    height:105px;
    border-radius:10px;
    margin-bottom:10px;
}

.notice_detail_button
{
    float:right;
    margin-right:10px;
    /* display:flex;
    justify-content: space-between; */
}

.notice_detail_select{
    float:right;
    margin-top:10px;
    clear:both;
    margin-right:19px;
}

.notice_detail_select select{
    width:100px;
    padding:3px;
    background-color: #000f9f;
    color:#fff;
    border:1px solid #000f9f;
    border-radius:5px;
}
.notice_detail_move{
    position: relative;
    top:54px;
    border-top:1px solid #000f9f;
    padding-top:4px;
}
.notice_regist_button{
    margin-bottom:20px;
    display:block;
    margin-left:auto;
    background-color:#000f9f;
    color:#fff;
    border: 1px solid #000f9f;
    border-radius:5px;
    padding:5px 10px;
}

.move_button{
    background-color: #000f9f;
    color:#fff;
    border: 1px solid #000f9f;
    border-radius:3px;
    padding:3px 10px;
}

.copy_button{
    background-color: #fff;
    color:#000f9f;
    border:1px solid #000f9f;
    border-radius:3px;
    padding:3px 10px;
}

.notice_regist_detail{
    margin-bottom:40px;
}

.notice_table
{
    width:100%;
}

.notice_table tr
{
    display:block;
    margin-top:20px;
}

.notice_table tr th
{
    width:200px;
    vertical-align: baseline;
    font-size:20px;
}

.notice_regist_file{
    display:block;
}

.notice_textbox{
    width:250px;
    padding:7px;
}

.notice_editor{
    height:300px;
}

.notice_submit{
    margin-top:20px;
    text-align:center;
}

.summary_table
{
    margin-top:20px;
    border:1px solid #000f9f;
    border-collapse: collapse;

}

.summary_table tr
{
    display:block;
    margin-top:0;
    border:1px solid #000f9f;
    
}

.summary_table tr th
{
    width:130px;
    vertical-align: middle;
    border-right:1px solid #000f9f;
    font-size:14px;
}

.summary_table tr td
{
    /* border: 1px solid #000f9f */
}

.summary_textbox
{
    width:100%;
    border: 0;
    height:30px;
    padding:5px;
    font-size:16px;
    outline:none;

}

.position_info_title
{
    vertical-align:baseline; 
    margin:0;
    font-size:18px;
    font-weight:bold;
    margin: 15px 0;
}

.summary_textarea
{
    padding-bottom:20px;
    border-bottom:1px solid #000f9f;
}

.notice_textbox2{
    width:400px;
    padding:7px;
    margin-top:10px;
}

.position_addbutton
{
    color:#fff;
    padding:7px;
    margin-left:10px;
    background-color:#000f9f;
    border:1px solid #000f9f;
    border-radius: 5px;
    margin:0 auto;
    margin-top:10px;
}

.main_work_delete
{
    margin-left:10px;
    color:#fff;
    background-color:#ea0000;
    border: 1px solid #ea0000;
    border-radius:5px;
    padding:7px;
}

.process_table
{
    border:1px solid #000f9f;
    border-collapse: collapse;
    width:fit-content;
}

.process_table tr
{
    border:1px solid #000f9f;
    margin:0;
}

.process_table tr th
{
    width:130px;
    border-right:1px solid #000f9f;
    vertical-align: middle;
}

.process_textbox
{
    width:95%;
    height:30px;
    outline:none;
    font-size:16px;
    padding:5px;
    border:0;
}
.people_process
{
    width:fit-content;
}
.add_process_button
{
    width:100%;
    background-color:#000f9f;
    border:1px solid #000f9f;
    border-radius:5px;
    color:#fff;
    padding:5px;
    margin-top:5px;
}

.del_process_button
{
    width:100%;
    background-color:#ea0000;
    border:1px solid #ea0000;
    border-radius:5px;
    color:#fff;
    padding:5px;
    margin-top:5px;
}