@font-face{
    font-family: 'gainge';
    src: url('./font/NotoSansCJKkr-Light.otf') format('truetype');
}
/* 공통 CSS */
body{
    min-width:100%;
    min-height:100%;
    font-family: 'Spoqa Han Sans Neo,Bold';
    font-size:62.5%;
}

a
{
    text-decoration:none;
}

body, div,p, h2{
    margin:0;
    padding:0;
}

input::placeholder{
    color:#383838;
    font-weight:100;
}
/* 폰트 관련 CSS */
.font_medium
{
    font-family:'Spoqa Han Sans Neo, Medium';
    font-weight:normal;
}
.font_bold
{
    font-family:'Spoqa Han Sans Neo, Bold';
    font-weight:600;
}
.font_regular
{
    font-family: "Spoqa Han Sans Neo, Regular";
    font-weight:normal;
}
.font_12{font-size: 12px;}
.font_15{font-size: 15px;}
.font_18{font-size: 18px;}
.font_20{font-size: 20px;}
.font_21{font-size: 21px;}
.font_23{font-size: 23px;}
.font_24{font-size: 24px;}
.font_25{font-size: 25px;}
.font_26{font-size: 26px;}
.font_28{font-size: 28px;}
.font_30{font-size: 30px;}
.font_32{font-size: 32px;}
.font_40{font-size: 40px;}
.font_50{font-size: 50px;}
/* 폰트 관련 CSS */

/* 폰트 색깔 CSS */
.text_maincolor{color:#1A1A1A}
.text_subcolor{color:#A0A4B4}
.text_blue{color:#000F9F}
/* 폰트 색깔 CSS */

.wrap
{
    width:100%;
    height:100%;
}
/* header css */
.header
{
    width:100%;
    height:60px;
    padding:20px 0;
    -webkit-box-shadow:11px 6px 22px rgb(0 0 0 / 10%);
    position:fixed;
    top:0;
    z-index: 1000;
    background:#fff;
}
.header_logo
{
    max-width:1200px;
    margin:0 auto;
    height:100%;
    margin-top:11px;
    padding:0 50px;
}
.logo
{
    width:219px;
}
#do_everything{
    float:right;
    margin-top:10px;
}
/* header css */
/* main css */
.main{
    max-width:1200px;
    margin:0 auto;
    position: relative;
    top:100px;
    padding:0 50px;
    padding-bottom:160px;
}
.main_title
{
    padding-top:96px;
    padding-bottom:75px;
    width:100%;
    display:inline-block;
    /* height:160px; */
}
.non_notice
{
    width:100%;
    height:40px;
    text-align:center;
    padding-top:100px;
    font-size:18px;
}
.title_select
{
    /* float:right; */
}
.main_ready
{
    /* width:60%; */
    display:inline-block
}
/* 메인페이지 selectbox css */
.main_selectbox
{
    padding:14px 20px;
    font-size:18px;
    width:145px;
    float:right;
    font-family:'Spoqa Han Sans Neo,Medium';
    position:relative;
    /* bottom:60px; */
    border: 1px solid #D9D9D9;
    background: url('select_arrow.svg') no-repeat 151px;
    appearance: none;
    border-radius:5px;
}
.main_selected{
    background: url('arrow_up.svg') no-repeat 151px;
    box-shadow: 0px 0px 20px #0000001A;
}
.main_subselectbox
{
    position:absolute;
    width:163px;
    top:65px;
    left:0;
    border-radius: 5px;
    background: #fff;
    padding:10px;
    box-shadow: 0px 0px 20px #0000001A;
}
.notice_status_img
{
    margin-top:24px;
}
.main_option
{
    width:140px;
    height:23px;
    display:block;
    color:#1F1F1F;
    font-size:18px;
    padding:8px 10px;
    padding-top:15px;
}
.main_option:hover
{
    background: #EBF4FF;
    color:#000F9F;
    padding-left:15px;
}
.selected
{
    border:0;
    background-color:#EBF4FF;
    color:#000F9F;
}
/* 메인페이지 selectbox css */
.main_content
{
    /* padding-top:40px; */
    width:1245px;
    padding-top:5px;
    overflow:hidden;
    max-height:1490px;
}
.notice_main_image
{
    width:100%;
    height:170px;
    border-radius:25px 25px 0 0;
}
.content_notice
{
    width:272px;
    height:336px;
    border:1px solid #d9d9d9;
    opacity:1;
    border-radius:30px 30px 30px 0;
    display:inline-block;
    margin-right:32px;
    margin-bottom:35px;
}

.content_notice:hover{
    box-shadow: 0px 0px 15px rgb(0 0 0/ 15%);
    /* box-shadow: 30px 30px 20px rgb(0,0,0 / 15px); */
    position: relative;
    bottom:5px;
    opacity: 35;
    
}
.content_image
{
    width:100%;
    height:170px;
}

.content_detail
{
    padding:20px;
}

/* footer css */
.footer
{
    margin-top:160px;
    width: 100%;
    height:250px;
    box-shadow: 0px -1px 25px #0000001A;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.footer_content
{
    width:1200px;
    margin:0 auto;
    height:125px;
    padding-top:57px;
}
.Do_footer{
    font-family:'Spoqa Han Sans Neo, bold'; 
    color: #566371; 
    font-size: 23px;
    font-weight:600;
}
/* .footer_list li
{
    margin-top:10px;
    display:flex;
} */
.footer_logo
{
    float:right;
    position:relative;
    bottom:26px;

}
.footer_title
{
    font-family: 'Spoqa Han Sans Neo, Medium';
    font-size: 13px;
    color: #A0A4B4;
    margin-right:10px;
}
.footer_detail
{
    font-family: 'Spoqa Han Sans Neo, Medium';
    font-size: 13px;
    color: #566371;
    margin-right:25px;
}
.company_information
{
    width:850px;
    display: inline-block;
    line-height: 26px;
    margin-top:20px;
}
.information_detail
{
    width:766px;
}
.footer_tail
{
    display:inline-block;
    font-size:1.4rem;
}
/* footer CSS */

/* 공고 상세페이지 CSS */
.notice
{
    width:1200px;
    margin:0 auto;
    margin-top:170px;
    position:relative;
}
.notice_detail
{
    width:780px;
    padding-bottom:40px;
    display:inline-block;
}
.notice_title
{
    margin-top:2rem;
    width:100%;
    color: #101010;
    margin-bottom:3rem;
    height:4.3rem;
}
.notice_title_detail
{
    line-height:46px;
}
.notice_image
{
    width:780px;
    height:480px;
}
.notice_detail_span
{
    font-size:23px;
    font-weight:600;
}
.notice_thumb_image
{
    width:100%;
    height:100%;
    border-radius:25px 25px 25px 0;
}
.notice_info
{
    margin-top:70px;
}
.notice_info_title
{
    margin-bottom:40px;
    font-size:28px;
    font-weight:600;
}

/* 포지션 정보 css */
.notice_position
{
    margin-top:70px;
}

.notice_position_detail
{
    width:780px;
    border-collapse: collapse;
}
.notice_position_detail tr
{
    width:100%;
    border-bottom:1px solid #d9d9d9;
}
.notice_position_detail tr th
{
    width:180px;
    font-family:'Spoqa Han Sans Neo, Bold';
    font-size:25px;
    color:#566371;
    text-align: left;
    margin-right:45px;
    vertical-align: baseline;
    padding-top:60px;
    padding-bottom:70px;
}
.notice_position_detail tr td
{
    padding-top:60px;
    padding-bottom:70px;
    font-size:18px;
    color:#1A1A1A;
    line-height: 35px;
    width:540px;
    padding-left:30px;
}
.notice_position_subdetail{
    width:100%;
    border-collapse: collapse;
}
.notice_position_subdetail tr
{
    border:solid #D9D9D9;
    border-width:1px 0;
}
.notice_position_subdetail tr th
{
    width:165px;
    font-family: 'Spoqa Han Sans Neo, Bold';
    font-size:18px;
    color:#1A1A1A;
    text-align: left;
    margin-right:30px;
    padding:12px 0;
}
.notice_position_subdetail tr td
{
    width:350px;
    padding:0;
    font-size:18px;
    font-family: 'Spoqa Han Sans Neo, Regular';
}
.notice_position_list
{
    position: relative;
    bottom:5px;
}
.notice_position_list tr td
{
    display:list-item;
    padding:0;
    font-size:18px;
    font-family: 'Spoqa Han Sans Neo, Regular';
    margin:0 21px;
    color: #1A1A1A;
}
/* 포지션 정보 css */

/* 채용프로세스 css */
.process_detail
{
    margin-top:40px;
    width:100%;
    margin-bottom:150px;
}
.process_stage
{
    width:157px;
    height:157px;
    background:#FAFAFA;
    box-shadow: 0px 5px 15px #0000001A;
    opacity: 1;
    text-align: center;
    line-height: 160px;
    border-radius:80px;
    display:inline-block;
    margin-bottom:30px;
}
.process_arrow
{
    margin:18px 0;
}
/*채용프로세스 css */

/* 회사 영상 css */
.company_video
{
    margin-bottom:100px;
}
.company_video_detail
{
    margin-top:40px;
}
.company_main_video
{
    width:780px;
    height:480px;
    border-radius:25px;
    border:0;
}
/* 회사 영상 css */

/* 인터뷰 css */
.company_interview
{
    padding-bottom:40px;
    border-bottom:1px solid #D9D9D9;
}
.company_interview_detail
{
    margin-top:40px;
}
.company_interview_detail img
{
    width:100%;
}
/* 인터뷰 css */

/* 지원하기 css */
.submit_notice
{
    margin-top:3.5rem;
    padding-bottom:3.5rem;
    border-bottom:1px solid #D9d9d9;
}
.detail_ing_big
{
    margin-bottom:26px;
}
.wait_people
{
    margin-bottom:40px;
}
/* 지원하기 css */

/* 오른쪽 고정 div css */
.notice_information
{
    width:370px;
    height:480px;
    border:1px solid #D9D9D9;
    border-radius: 25px 25px 25px 0px;
    /* position:fixed;
    top:360px;
    right:830px; */
    /* float:right; */
    display:block;
    /* position:relative; */
    /* top:200px; */
}
.notice_info_content
{
    line-height:35px;
    font-size:18px;
}
.fixed_information
{
    position: fixed !important;
    top:150px;
    /* left:60.5%; */
}
.notice_information_detail
{
    padding: 40px 40px 48px 40px;
}
.online_channel
{
    margin:0 30px 15px 30px;
}
.notice_apply
{
    margin:0 30px 16px 30px;
}
.notice_Qna
{
    text-align: center;
}
.notice_subtitle
{
    padding-bottom:16px;
    border-bottom:1px solid #D9D9D9;
}

/* 지원 페이지 CSS */
.apply
{
    width:800px;
    margin:0 auto;
    margin-top:210px;
}
.wait_apply
{
    margin-bottom:20px;
}
.apply_title
{
    text-align: center;

}
.apply_info
{
    margin-top:70px;
    margin-bottom:25px;
}
.apply_form_table
{
    width:100%;
    border-collapse: collapse;
    border-top:5px solid #1A1A1A;
    margin-bottom:131px;
}
.apply_form_table tr{
    width:100%;
    text-align:left;
}
.apply_form_table tr th{
    width:145px;
    padding-top:61px;
    padding-bottom:18px;
}
.apply_form_table tr td{
    vertical-align: bottom;
    width: 679px;
}
.apply_text
{
    width:643px;
    padding:18px;
    border:0;
    border-bottom:1px solid #A0A4B44D;
    padding-left:0;
}
.apply_text:focus
{
    outline: none;
}
.apply_email
{
    width:136px;
    padding:18px;
    border:0;
    border-bottom:1px solid #A0A4B44D;
}
.apply_email:focus
{
    outline:none;
}
.apply_select
{
    appearance: none;
    background: url("/email_arrow.svg") 160px no-repeat;
}
/* 레이어팝업 css */
.layer_popup .layer_dim
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#00000033;
    opacity: 1;
}
.layer_detail
{
    width:850px;
    height:830px;
    background:#FFFFFF;
    box-shadow: 0px 0px 70px #00000034;
    position: fixed;
    margin:0 auto;
    top:15%;
    left:0;
    right:0;
}
.detail_title{
    width:720px;
    margin-left:70px;
    margin-right:60px;
    margin-top:70px;
    padding-bottom:25px;
    border-bottom:5px solid #1A1A1A;
}
.detail_content_layout
{
    width:720px;
    height:584px;
    overflow:scroll;
    margin-top:50px;
    margin-left:70px;
}
.detail_content
{
    width:660px;
    height:584px;
    line-height:30px;
    display:inline-block;
}
.apply_:focus
{
    border-bottom:2px solid #001998;
}
.apply_input::placeholder
{
    color:#A0A4B4;
    font-family: 'Spoqa Han Sans Neo, Medium';
    font-size:20px;
}
.not_type::placeholder
{
    color:#FF2636;
    font-weight:500;
}
.plus_notice
{
    margin-top:70px;
    border-top:1px solid #d9d9d9;
    padding-top:35px;
    text-align: center;
}
.mobile_notice_title
{
    line-height:23px;
    height:55px;
}
/* 모바일 버전 CSS */

@media (max-width:768px) {
    html
    {
        font-size:62.5%;
    }
    /* 모바일 헤더 CSS */
    .header
    {
        height:35px;
        box-shadow: 0px 1px 5px #00000029;
    }
    .header_logo
    {
        width: 90%;
        margin:0 auto;
        margin-top:2.6%;
    }
    .logo{
        width:10rem;
    }
    /* 모바일 헤더 CSS */

    /* 모바일 메인 CSS */
    #do_everything{
        margin-top:0;
        width:10rem;
    }
    .main{
        width:100%;
    }
    .main_title
    {
        padding-top:0px;
        padding-bottom:60px;
        display:block;
        width:90%;
        margin:0 auto;
    }
    .main_notice
    {
        font-size:1.44em;
        margin-top:30px;
    }
    .main_ready
    {
        font-size:2.5em;
        width:55.33%;
    }
    .main_selectbox
    {
        width:11.7%;
        background: url('select_arrow.svg') no-repeat 90%;
        font-size:1.1rem;
        position:relative;
        bottom:1.3rem;
        background-size: 9%;
    }
    .main_selectbox span
    {
        position:relative;
        right:1rem;
        font-size:1.15rem;
    }
    .main_selected{
        background: url('arrow_up.svg') no-repeat 90%;
    }
    .main_content{
        width:95%;
        margin:0 auto;
        max-height:3000px;
    }
    .content_notice{
        width:45.4%;
        margin-left:3%;
        margin-right:0;
        height:auto;
        border-radius:1rem 1rem 1rem 0;
    }
    .notice_main_image
    {
        width:100%;
        height:100%;
        border-radius:1rem 1rem 1rem 0;
    }
    .notice_company_name, .notice_job_group
    {
        font-size:0.9rem;
    }
    .content_image{
        /* height:auto; */
    }
    .mobile_notice_title
    {
        width:100%;
        font-size:1.2rem;
        display: -webkit-box;
        overflow:hidden;
        /* white-space: nowrap; */
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.8rem;
        max-height:34px;
    }
    /* 모바일 메인 CSS */

    /* mobile footer css */
    .footer
    {
        height:100%;
        margin-top:8rem;

    }
    .footer_content{
        width:90%;
        margin:0 auto;
        padding-top:35px;
        height:100%;
        padding-bottom:3.2rem;
    }
    .footer_tail
    {
        display:inline-block;
        margin-top:31px;
        font-size:1.1rem;
    }
    .Do_footer{
        font-size:1.4rem;
        font-weight: 600;
    }
    .company_information
    {
        width:82.2%;
        font-size:.8rem;
        line-height:20px;
        margin-top:10px;
    }
    .footer_title
    {
        font-size:.8rem;
        margin-right:0.5rem;
    }
    .footer_detail
    {
        font-size:.8rem;
        margin-right:1rem;
    }
    .footer_logo
    {
        bottom:1.8rem;
        width:13.8%;

    }
    /* mobile footer css */
    .information_detail
    {
        width:100%;
    }
    .notice_status_img
    {
        margin-top:34px;
        width:26.1%;
    }
    .layer_popup
    {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:#00000033;
        opacity: 1;
    }
    .mobile_select
    {
        width:100%;
        height:60.06%;
        position:absolute;
        bottom:0;
        background:#fff;
        border-radius:30px 30px 0 0;
        z-index: 1001;
        opacity: 1;
    }
    .mobile_filter
    {
        width:87.2%;
        margin:0 auto;
    }
    .mo_select_title
    {
        margin-top:27px;
        font-size:1.7rem;
        font-weight:600;
    }
    .mo_select_all
    {
        margin-top:3.5rem;
        padding-bottom:30px;
        border-bottom:1px solid #D9D9D9;
        color: #9D9D9D;
        font-size:1.3rem;
    }
    .mo_select_detail
    {
        padding-top:2rem;
    }
    .main_option
    {
        height:auto;
        padding:0;
        font-size:1.3rem;
        width:48%;
        display:inline-block;
        margin-bottom:3rem;
    }
    .main_option:hover
    {
        padding-left:0px;
    }
    .option_selected
    {
        color: #000f9f;
    }

    /* 모바일 상세페이지 CSS */
    .notice
    {
        width: 100%;
        margin-top:110px;
    }
    .notice_image{
        width:100%;
        height:462px;
        border:0;
        border-radius:0;
    }
    .notice_detail_ing
    {
        width:4rem;
    }
    .notice_title_detail
    {
        font-size:2.1rem;
    }
    .notice_info_content
    {
        font-size:1.2rem;
    }
    .notice_thumb_image
    {
        border-radius:0;
    }
    .notice_information
    {
        display:none;
    }
    .notice_detail
    {
        width:87.2%;
        margin-top:50px;
        margin-left:6.4%;
    }
    .notice_detail_span
    {
        font-size:1.3rem
    }
    .mo_online_channel
    {
        margin-top:1.5rem;
        width:47.54%;
    }
    .notice_info_title
    {
        font-size:1.6rem;
    }
    /* 모바일 요약 CSS */
    .notice_position
    {
        margin-top:3.5rem;
    }
    .notice_subtitle
    {
        padding-bottom:1rem;
    }
    .position_info
    {
        font-size:1.6rem;
    }
    .mo_position_info
    {
        padding-bottom:1.5rem;
    }
    .mo_position_info ul
    {
        list-style: none;
        display:inline;
    }
    .mo_summary
    {
        color: #566371;
        margin:2.5rem 0;
        font-size:1.3rem
    }
    .mo_summary_detail
    {
        font-size:1.2rem;
    }
    /* 모바일 요약 CSS */

    /* 모바일 포지션 소개 CSS */
    .position_intro_title
    {
        margin:3rem 0 2.5rem 0;
        color: #566371;
        font-size:1.3rem;
    }
    .position_intro_detail
    {
        font-size:1.2rem;
    }
    /* 모바일 포지션 소개 CSS */

    /* ul, li 포지션 정보 CSS */
    .mo_position_ul
    {
        padding:0;
        line-height:2.75rem;
    }
    .mo_position_ul li
    {
        list-style-position: inside;
        font-size:1.2rem;
    }
    /* ul, li 포지션 정보 CSS */

    /* 모바일 채용프로세스 CSS */
    .mo_notice_process
    {
        width:100%;
        margin:0 auto;
    }
    .notice_process_title
    {
        font-size:1.6rem;
    }
    .mo_notice_process ul
    {
        padding:0;
    }
    .mo_notice_process ul li
    {
        list-style: none;
        margin-bottom:5rem;
    }
    .mo_notice_process_detail
    {
        margin-top:3rem;
    }
    .mo_process_index
    {
        width:2rem;
        height:2rem;
        background-color: #EFEFEF;
        text-align:center;
        vertical-align: middle;
        display:table-cell;
        border-radius:2rem;
        margin-right:2.6%;
    }
    /* 모바일 채용프로세스 CSS */

    /* 모바일 회사영상 CSS */
    .company_video
    {
        margin-bottom:5rem;
    }
    .company_video_title
    {
        width:100%;
        margin: 0 auto;
        font-size:1.4rem;
    }
    .company_main_video
    {
        max-width:100vw;
        border-radius:0;
    }
    .company_video_detail
    {
        width:fit-content;
        position:relative;
        right:7.2%;
        margin-top:2rem;
    }
    /* 모바일 회사영상 CSS */

    /* 모바일 인터뷰 CSS */
    .company_interview
    {
        width:100%;
        margin:0 auto;
        padding-bottom:2rem;
    }
    .company_interview_detail
    {
        font-size:1.2rem;
    }
    .company_interview_detail img
    {
        width:100%;
    }
    /* 모바일 인터뷰 CSS */

    /* 지원 CSS */
    .wait_apply
    {
        font-size:1.15rem;
    }
    .apply_info_img
    {
        width:100%;
    }
    .submit_notice
    {
        width:87.2%;
        margin:0 auto;
        margin-top:100px;
        text-align:center;
    }
    .submit_notice img
    {
        width:100%;
    }
    .wait_people
    {
        font-size:1.6rem;
        margin-bottom:2rem;
    }
    .apply_call
    {
        font-size:1.35rem;
    }
    .detail_ing_big
    {
        margin-bottom:1.3rem;
    }
    /* 지원 CSS */
    
    /* 상세페이지 하단고정 CSS */
    .fix_apply
    {
        width:100%;
        background-color:#fff;
        position:fixed;
        bottom:0;
        box-shadow: 0px 1px -25px #0000001a;
        text-align: center;
        z-index: 1001;
    }
    .fix_apply img{
        width:100%;
    }
    /* 모바일 상세페이지 CSS */

    /* 모바일 지원페이지 CSS */
    .apply
    {
        width:87.2%;
        margin-top:140px;
    }
    .apply_info
    {
        margin-top:3.5rem;
        margin-bottom:2.5rem;
    }
    .apply_title
    {
        font-size:2.7rem;
    }

    /* 모바일 지원 div CSS */
    .apply_detail
    {
        width:100%;
        border-top:5px solid #1A1A1A;
        border-bottom:5px solid #1A1A1A;
    }
    .apply_info_title
    {
        margin-top:2rem;
        margin-bottom:3rem;
        font-size:1.6rem;
    }
    .apply_info_detail
    {
        margin-bottom:3rem;
    }
    .apply_info_detail_title
    {
        margin-bottom:2rem;
        font-size:1.3rem;
    }
    .mo_input_text
    {
        width:100%;
        border:0;
        border-bottom:2px solid #A0A4B44D;
        padding-bottom:.9rem;
        font-size:1.2rem;
    }
    .mo_input_text:focus
    {
        outline: none;
        border-bottom:2px solid #000F9F;
    }
    /* 모바일 지원 이메일 textbox CSS */
    .mo_email
    {
        width:47%;
        border:0;
        border-bottom:2px solid #A0A4B44D;
        padding-bottom: .9rem;
    }
    .mo_email:focus
    {
        outline:none;
    }
    .mo_email_tailer
    {
        appearance: none;
        background:url("/email_arrow.svg") right 10px no-repeat;
        padding-left:2%;
    }
    /* 모바일 지원 이메일 textbox CSS */

    /* 모바일 지원서류 제출 CSS */
    .mo_apply_resume
    {
        border-bottom:5px solid #1A1A1A;
    }
    .mo_apply_resume_title
    {
        margin-top:2rem;
        font-size:1.6rem;
    }
    .mo_apply_resume_download
    {
        margin-top:2rem;
        width:100%;
    }
    .mo_apply_resume_download img
    {
        width:100%;
    }
    .mo_apply_resume_submit_title
    {
        margin-top:3rem;
        font-size:1.3rem;
    }
    .mo_apply_resume_submit_file_name
    {
        font-size:1.2rem;
        margin-top:2rem;
    }
    .mo_apply_resume_table
    {
        width:100%;
    }
    .mo_apply_resume_table tr
    {
        margin-bottom:3rem;
    }
    /* 모바일 포트폴리오 제출 CSS */
    .mo_apply_portfolio_submit
    {
        margin-top:3rem;
        margin-bottom:5rem;
    }
    .mo_apply_portfolio_submit_title
    {
        font-size:1.3rem;
    }
    .mo_apply_portfolio_submit_file_name
    {
        margin-top:2rem;
        font-size:1.2rem;
    }
    .mo_apply_portfolio_table
    {
        width:100%;
    }
    /* 모바일 포트폴리오 제출 CSS */
    .mo_agree_info
    {
        font-size:1.6rem;
        font-weight:600;
        margin-top:2rem;
        color:#1A1A1A;
    }
    /* 모바일 포트폴리오 제출 CSS */

    /* 가인지피플 서비스 이용약관 동의 CSS */
    .mo_agree_table
    {
        margin-top:2.5rem;
        width:100%;
        margin-bottom:4.55rem;
    }
    .mo_agree_table_title
    {
        padding-bottom:1.5rem;
        border-bottom: 1px solid #A0A4B44D;
    }
    .mo_agree_table_detail
    {
        padding-top:1.6rem;
    }
    #mo_not_all_agree
    {
        position:relative;
        top:5px;
        width:2rem;
    }
    .mo_agree_table tr td
    {
        width:100%;
        vertical-align: baseline;
    }
    .mo_apply_submit img
    {
        width:100%;
        height:110px;
    }
    .mo_agree_text_detail
    {
        margin-left:4.2%;
        font-size:1.2rem;
    }
    .mo_not_agree
    {
        width:1.1rem;
    }
    /* 가인지피플 서비스 이용약관 동의 CSS */

    /* 가인지피플 양식 채우지 않을 때 CSS */
    .mo_not_type::placeholder
    {
        color:#FF2636;
    }
    .mo_not_type
    {
        border-bottom:2px solid #FF2636;
    }
    .mo_not_file
    {
        color:#FF2636;
    }
    /* 가인지피플 양식 채우지 않을 때 CSS */

    /* 개인정보 전문 CSS */
    .mo_layer_white
    {
        width:100%;
        height:100%;
        position:fixed;
        top:0;
        left:0;
        background-color: #fff;
        z-index:2000;
    }
    .mo_layer_detail
    {
        width:87.2%;
        margin:0 auto;
        margin-top:5.2rem;
    }
    .mo_layer_close
    {
        text-align:right;
    }
    .mo_layer_title
    {
        padding-bottom:1.5rem;
        border-bottom:7px solid #1A1A1A;
        font-size:2rem;
    }
    .mo_layer_text_detail
    {
        margin-top:3.5rem;
        max-height:470px;
        overflow:scroll;
        font-size:1.3rem;
    }
    #mo_close_img_collect, #mo_close_img_3rd
    {
        width:2.3rem;
    }
    /* 모바일 지원서류 제출 CSS */

    /* 모바일 지원 div CSS */
    
    /* 모바일 지원페이지 CSS */

    /* 모바일 지원완료 CSS */
    .mo_complete_apply_layer
    {
        position:relative;
        width:100%;
        height:50%;
        top:0;
        background-color:#fff;
    }
    .mo_complete_apply_content
    {
        margin-top:250px;
        text-align:center;
        padding-bottom:8rem;
    }
    .mo_complete_apply_title
    {
        font-size:2.6rem;
        margin-bottom:2.5rem;
    }
    .mo_complete_apply_faq
    {
        font-size:1.2rem;
    }
    .mo_complete_apply_faq_title
    {
        color: #A0A4B4;
        margin-right:1rem;
    }
    .mo_complete_apply_faq_detail
    {
        color: #566371;
    }
    .mo_complete_apply_ok
    {
        margin-top:3rem;
    }
    .mo_complete_apply_ok img
    {
        width:74.67%;
    }
    /* 모바일 지원완료 CSS */
}

/* 모바일 버전 CSS */
