@font-face{
    font-family: 'gainge';
    src: url('./font/NotoSansCJKkr-Light.otf') format('truetype');
}
/* 공통 CSS */
body{
    min-width:100%;
    min-height:100%;
    font-family: 'Spoqa Han Sans Neo,Bold';
}

a
{
    text-decoration:none;
}

body, div,p, h2{
    margin:0;
    padding:0;
}

input::placeholder{
    color:#383838;
    font-weight:100;
}
/* 폰트 관련 CSS */
.font_medium
{
    font-family:'Spoqa Han Sans Neo, Medium';
    font-weight:normal;
}
.font_bold
{
    font-family:'Spoqa Han Sans Neo, Bold';
    font-weight:600;
}
.font_regular
{
    font-family: "Spoqa Han Sans Neo, Regular";
    font-weight:normal;
}
.font_12{font-size: 12px;}
.font_15{font-size: 15px;}
.font_18{font-size: 18px;}
.font_20{font-size: 20px;}
.font_21{font-size: 21px;}
.font_23{font-size: 23px;}
.font_25{font-size: 25px;}
.font_28{font-size: 28px;}
.font_32{font-size: 32px;}
.font_40{font-size: 40px;}
.font_50{font-size: 50px;}
/* 폰트 관련 CSS */

/* 폰트 색깔 CSS */
.text_maincolor{color:#1A1A1A}
.text_subcolor{color:#A0A4B4}
.text_blue{color:#000F9F}
/* 폰트 색깔 CSS */

.wrap
{
    width:100%;
    height:100%;
}
/* header css */
.header
{
    width:100%;
    height:60px;
    padding:20px 0;
    -webkit-box-shadow:11px 6px 22px rgb(0 0 0 / 10%);
    position:fixed;
    top:0;
    z-index: 1000;
    background:#fff;
}
.header_logo
{
    width:1200px;
    margin:0 auto;
    height:100%;
    margin-top:11px;
}
.logo
{
    width:219px;
}
/* header css */

.main{
    width:1200px;
    margin:0 auto;
    position: relative;
    top:100px;
    padding-bottom:160px;
}
.main_title
{
    padding-top:96px;
    padding-bottom:75px;
    width:100%;
    display:inline-block;
    /* height:160px; */
}

.title_select
{
    /* float:right; */
}
/* 메인페이지 selectbox css */
.main_selectbox
{
    padding:14px 20px;
    font-size:18px;
    width:145px;
    float:right;
    font-family:'Spoqa Han Sans Neo,Medium';
    position:relative;
    /* bottom:60px; */
    border: 1px solid #D9D9D9;
    background: url('select_arrow.svg') no-repeat 151px;
    /* box-shadow: 0px 0px 20px #0000001A; */
    appearance: none;
}
.main_subselectbox
{
    position:absolute;
    width:163px;
    top:65px;
    left:0;
    border-radius: 5px;
    background: #fff;
    padding:10px;
    box-shadow: 0px 0px 20px #0000001A;
}
.main_option
{
    width:140px;
    height:23px;
    display:block;
    color:#1F1F1F;
    font-size:18px;
    padding:8px 10px;
    padding-top:15px;
}
.main_option:hover
{
    background: #EBF4FF;
    color:#000F9F;
    padding-left:15px;
}
.selected
{
    border:0;
    background-color:#EBF4FF;
    color:#000F9F;
}
/* 메인페이지 selectbox css */
.main_content
{
    /* padding-top:40px; */
    width:1245px;
    max-height:1500px;
    overflow:hidden;
    padding-top:5px;
}

.content_notice
{
    width:272px;
    height:336px;
    border:1px solid #d9d9d9;
    opacity:1;
    border-radius:30px 30px 30px 0;
    display:inline-block;
    margin-right:32px;
    margin-bottom:35px;
}

.content_notice:hover{
    box-shadow: 0px 0px 15px rgb(0 0 0/ 15%);
    /* box-shadow: 30px 30px 20px rgb(0,0,0 / 15px); */
    position: relative;
    bottom:5px;
    opacity: 35;
    
}
.content_image
{
    width:100%;
    height:170px;
}

.content_detail
{
    padding:20px;
}

/* footer css */
.footer
{
    margin-top:160px;
    width: 100%;
    height:240px;
    box-shadow: 0px -1px 25px #0000001A;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.footer_content
{
    width:1200px;
    margin:0 auto;
    height:125px;
    padding-top:57px;
}
.footer_title
{
    font-family: 'Spoqa Han Sans Neo, Medium';
    font-size: 13px;
    color: #A0A4B4;
    margin-right:10px;
}
.footer_detail
{
    font-family: 'Spoqa Han Sans Neo, Medium';
    font-size: 13px;
    color: #566371;
    margin-right:25px;
}
.company_information
{
    width:fit-content;
    display: inline-block;
}
/* footer CSS */

/* 공고 상세페이지 CSS */
.notice
{
    width:1200px;
    margin:0 auto;
    margin-top:170px;
    position:relative;
}
.notice_detail
{
    width:780px;
    padding-bottom:40px;
    display:inline-block;
}
.notice_title
{
    margin-top:40px;
    width:780px;
    color: #101010;
    margin-bottom:60px;
    height:86px;
}
.notice_image
{
    width:780px;
    height:480px;
    
    
}
.notice_info
{
    margin-top:70px;
}
.notice_info_title
{
    margin-bottom:40px;
}

/* 포지션 정보 css */
.notice_position
{
    margin-top:70px;
}

.notice_position_detail
{
    width:780px;
    border-collapse: collapse;
}
.notice_position_detail tr
{
    width:100%;
    border-bottom:1px solid #d9d9d9;
}
.notice_position_detail tr th
{
    width:180px;
    font-family:'Spoqa Han Sans Neo, Bold';
    font-size:25px;
    color:#566371;
    text-align: left;
    margin-right:45px;
    vertical-align: baseline;
    padding-top:60px;
    padding-bottom:70px;
}
.notice_position_detail tr td
{
    padding-top:60px;
    padding-bottom:70px;
    font-size:18px;
    color:#1A1A1A;
    line-height: 35px;
    width:540px;
    padding-left:30px;
}
.notice_position_subdetail{
    width:100%;
    border-collapse: collapse;
}
.notice_position_subdetail tr
{
    border:solid #D9D9D9;
    border-width:1px 0;
}
.notice_position_subdetail tr th
{
    width:165px;
    font-family: 'Spoqa Han Sans Neo, Bold';
    font-size:18px;
    color:#1A1A1A;
    text-align: left;
    margin-right:30px;
    padding:12px 0;
}
.notice_position_subdetail tr td
{
    width:350px;
    padding:0;
    font-size:18px;
    font-family: 'Spoqa Han Sans Neo, Regular';
}
.notice_position_list
{
    position: relative;
    bottom:5px;
}
.notice_position_list tr td
{
    display:list-item;
    padding:0;
    font-size:18px;
    font-family: 'Spoqa Han Sans Neo, Regular';
    margin:0 21px;
    color: #1A1A1A;
}
/* 포지션 정보 css */

/* 채용프로세스 css */
.process_detail
{
    margin-top:40px;
    width:100%;
    margin-bottom:150px;
}
.process_stage
{
    width:157px;
    height:157px;
    background:#FAFAFA;
    box-shadow: 0px 5px 15px #0000001A;
    opacity: 1;
    text-align: center;
    line-height: 160px;
    border-radius:80px;
    display:inline-block;
    margin-bottom:30px;
}
.process_arrow
{
    margin:18px 0;
}
/*채용프로세스 css */

/* 회사 영상 css */
.company_video
{
    margin-bottom:100px;
}
.company_video_detail
{
    margin-top:40px;
}
/* 회사 영상 css */

/* 인터뷰 css */
.company_interview
{
    padding-bottom:40px;
    border-bottom:1px solid #D9D9D9;
}
.company_interview_detail
{
    margin-top:40px;
}
/* 인터뷰 css */

/* 지원하기 css */
.submit_notice
{
    margin-top:70px;
    padding-bottom:70px;
    border-bottom:1px solid #D9d9d9;
}
/* 지원하기 css */

/* 오른쪽 고정 div css */
.notice_information
{
    width:370px;
    height:480px;
    border:1px solid #D9D9D9;
    border-radius: 25px 25px 25px 0px;
    /* position:fixed;
    top:360px;
    right:830px; */
    /* float:right; */
    display:block;
    /* position:relative; */
    /* top:200px; */
}
.notice_info_content
{
    line-height:35px;
}
.fixed_information
{
    position: fixed !important;
    top:150px;
    /* left:60.5%; */
}
.notice_information_detail
{
    padding: 40px 40px 48px 40px;
}
.online_channel
{
    margin:0 30px 15px 30px;
}
.notice_apply
{
    margin:0 30px 16px 30px;
}
.notice_Qna
{
    text-align: center;
}
.notice_subtitle
{
    padding-bottom:16px;
    border-bottom:1px solid #D9D9D9;
}

/* 지원 페이지 CSS */
.apply
{
    width:800px;
    margin:0 auto;
    margin-top:210px;
}
.apply_title
{
    text-align: center;

}
.apply_info
{
    margin-top:70px;
    margin-bottom:25px;
}
.apply_form_table
{
    width:100%;
    border-collapse: collapse;
    border-top:5px solid #1A1A1A;
    margin-bottom:131px;
}
.apply_form_table tr{
    width:100%;
    text-align:left;
}
.apply_form_table tr th{
    width:145px;
    padding-top:61px;
    padding-bottom:18px;
}
.apply_form_table tr td{
    vertical-align: bottom;
    width: 679px;
}
.apply_text
{
    width:643px;
    padding:18px;
    border:0;
    border-bottom:1px solid #A0A4B44D;
    padding-left:0;
}
.apply_text:focus
{
    outline: none;
}
.apply_email
{
    width:136px;
    padding:18px;
    border:0;
    border-bottom:1px solid #A0A4B44D;
}
.apply_email:focus
{
    outline:none;
}
.apply_select
{
    appearance: none;
    background: url("/email_arrow.svg") 160px no-repeat;
}
/* 레이어팝업 css */
.layer_popup .layer_dim
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#00000033;
    opacity: 1;
}
.layer_detail
{
    width:850px;
    height:830px;
    background:#FFFFFF;
    box-shadow: 0px 0px 70px #00000034;
    position: fixed;
    margin:0 auto;
    top:20%;
    left:0;
    right:0;
}
.detail_title{
    width:720px;
    margin-left:70px;
    margin-right:60px;
    margin-top:70px;
    padding-bottom:25px;
    border-bottom:5px solid #1A1A1A;
}
.detail_content_layout
{
    width:720px;
    height:584px;
    overflow:scroll;
    margin-top:50px;
    margin-left:70px;
}
.detail_content
{
    width:660px;
    height:584px;
    line-height:30px;
    display:inline-block;
}