{% extends 'admin/header.html' %}
 
 {% block content %}
<div class="people_notice">
    <div class="notice_title">
        <h2>채용공고</h2>
    </div>
    <button type="button" id="notice_regist" class="notice_regist_button">공고 등록</button>
    <div class="notice_list">
        {% for Notice in notice_lists %}
        <input type="hidden" name="notice_number" id="notice_number" value="{{Notice.number}}">
        <div class="notice_detail">
            <span>{{Notice.notice_title}}</span>
            <div class="notice_detail_button">
                <button type="button" class="notice_detail_button notice_delete" id="notice_delete" data-id="{{Notice.number}}">삭제</button>
                <button type="button" class="notice_detail_button notice_modify" id="notice_modify" data-id="{{Notice.number}}">수정</button>
                <button type="button" class="notice_detail_button notice_member" id="notice_member" data-id="{{Notice.number}}">지원자 보기</button>
            </div>
            <div class="notice_detail_select" >
                <select name="notice_status" id="notice_status" class="notice_selectbox notice_status" data-id="{{Notice.number}}">
                    {% if Notice.is_active == 1 %}
                    <option {{is_display}} value="1" selected>노출</option>
                    <option {{is_not_display}} value="0">숨김</option>
                    {% else %}
                    <option {{is_display}} value="1">노출</option>
                    <option {{is_not_display}} value="0" selected>숨김</option>
                    {% endif %}
                </select>
            </div>
            <div class="notice_detail_select" style="clear:left">
                <select name="notice_continue" id="notice_continue" class="notice_selectbox notice_continue" data-id="{{Notice.number}}">
                    {% if Notice.is_continue == 1 %}
                    <option  {{is_opened}} value="1" selected>진행중</option>
                    <option  {{is_closed}} value="0">마감</option>
                    {% else %}
                    <option  {{is_opened}} value="1">진행중</option>
                    <option  {{is_closed}} value="0" selected>마감</option>
                    {% endif %}
                </select>
            </div>
            <div class="notice_detail_move">
                <div class="notice_button_move">
                    <a href="/notice/{{Notice.number}}" target="_blank">
                        <button type="button" class="move_button" id="notice_move">공고로 이동</button>
                    </a>
                    <button type="button" class="copy_button" id="notice_copy" onClick="copy_notice({{Notice.number}})">공고 복사</button>
                </div>
            </div>
            <script type="text/javascript">
                function copy_notice(number)
                {
                    var textarea = document.createElement('textarea');
                    var link = 'http://localhost:3010/notice/'+ number;
                    textarea.value = link;
                    document.body.appendChild(textarea);

                    textarea.select();
                    document.execCommand('copy');
                    document.body.removeChild(textarea);
                    alert('복사하였습니다.');
                }
            </script>
        </div>
        {% endfor %}
    </div>
</div>
 {% endblock %}

 {% block script %}
 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 <script>
    document.getElementById('notice_regist').addEventListener('click', function() {
        location.href = '/admin/notice/regist';
    })

    const member = document.getElementsByClassName('notice_member');
    for(Member of member)
    {
        Member.addEventListener('click', function(event) {
            location.href= '/admin/notice/applies/'+event.target.dataset.id;
        })
    }

    const modify_notice = document.getElementsByClassName('notice_modify');
    for(Modify of modify_notice)
    {
        Modify.addEventListener('click',function(event){
            location.href = '/admin/notice/modify/'+event.target.dataset.id;
        })
    }

    const continue_select = document.getElementsByClassName('notice_continue');

    for(Continue_select of continue_select)
    {
        Continue_select.addEventListener('change',function(event){
            const fd = new FormData();
            const input_value = event.target.value;
            const number = {number: event.target.dataset.id};
            console.log(input_value);

            fd.append('number', number);

            axios.post('/admin/notice/active/'+input_value, number)
            .then((response) => {
                location.reload();
            })
            .catch((err) => {
                console.error(err);
            })
        })
    }

    

    // document.getElementById('notice_continue').addEventListener('change',function() {
    //     const fd = new FormData();
    //     const input = document.getElementById('notice_continue').value;
    //     const num = {number :document.getElementById('notice_number').value};

    //     fd.append('number', num);

    //     axios.post('/admin/notice/active/'+input,num)
    //     .then((response) => {
    //         location.reload();
    //     })
    //     .catch((err) => {
    //         console.error(err);
    //     })
    // })

    const status_select  = document.getElementsByClassName('notice_status');
    for(Status of status_select)
    {
        Status.addEventListener('change', function(event)
        {
            console.log(event.target.dataset.id);
            const data_status = new FormData();
            const input_status = event.target.value;
            const notice_number = {number: event.target.dataset.id};

            data_status.append('number', notice_number);

            axios.post('/admin/notice/status/'+input_status, notice_number)
            .then((response)=> {
                location.reload();
            })
            .catch((err) => {
                console.error(err);
            })
        })
    }

    // document.getElementById('notice_status').addEventListener('change', function() {
    //     const data_status = new FormData();
    //     const input_status = document.getElementById('notice_status').value;
    //     const notice_number = {number: document.getElementById('notice_number').value};

    //     data_status.append('number', notice_number);

    //     axios.post('/admin/notice/status/'+input_status, notice_number)
    //     .then((response) => {
    //         location.reload();
    //     })
    //     .catch((err) => {
    //         console.error(err);
    //     })
    // })

    // document.getElementById('notice_modify').addEventListener('click',function() {
    //     location.href = '/admin/notice/modify/'+document.getElementById('notice_number').value;
    // });
 </script>
 {% endblock %}